body {
  font-family: Pretendard;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.select {
  width: 209px;
  height: 10px;
  margin: 122.1px 85px 27px 0;
  color: #202020;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 138%; /* 34.5px */
  letter-spacing: -0.5px;
  text-align: left;
  color: #202020;
}

/*불변*/
.container {
  position: relative;
  width: 390px;
  height: 844px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.button-container {
  /* 추가된 부분: 버튼들을 가로로 나란히 배치하기 위한 스타일 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button1 button {
  width: 135px; /* 원하는 버튼의 너비를 지정합니다. */
  height: 120px; /* 원하는 버튼의 높이를 지정합니다. */
  color: #202020;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 34.5px */
  letter-spacing: -0.5px;
  background-color: #efefef;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.button2 button {
  width: 135px; /* 원하는 버튼의 너비를 지정합니다. */
  height: 120px; /* 원하는 버튼의 높이를 지정합니다. */
  color: #202020;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 34.5px */
  letter-spacing: -0.5px;
  background-color: #efefef;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.container2 {
  width: 158px;
  height: 100px;
  margin: 347px 16px 0 36.8px;
  object-fit: contain;
}

.button1 button:hover {
  background-color: #1964f7;
  color: #ffffff;
}

.button2 button:hover {
  background-color: #1964f7;
  color: #ffffff;
}
