body {
    font-family: Pretendard;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .div {
    width: 300px;
    height: 550px;
    color: #202020;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%; /* 34.5px */
    letter-spacing: -0.5px;
  
    text-align: left;
    color: #202020;
  }
  
  .arrow {
    margin-left: 2px;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  
  .select {
    color: #202020;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%; /* 34.5px */
    letter-spacing: -0.5px;
  
    text-align: left;
    color: #202020;
    margin-top: 13px;
  }
  
  .container {
    position: relative;
    width: 390px;
    height: 844px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /*내부 입력값*/
  .name input {
    display: flex;
    width: 261.3px;
    height: 18px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 10px solid #cacaca;
    border-width: 2px !important;
    background: #fff;
  
    color: #b8b8b8;
    font-family: Pretendard;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    font-weight: 00;
    line-height: 138%; /* 31.74px */
    letter-spacing: -0.46px;
  }
  
  /* 내부 글자*/
  .name input::placeholder {
    flex-shrink: 0;
  
    color: #b8b8b8;
    font-family: Pretendard;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.46px;
    text-indent: 0px;
  }
  
  .next button {
    width: 306px;
    height: 60px;
    color: #898989;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 138%; /* 27.6px */
    letter-spacing: -0.4px;
    background-color: #efefef;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px; /* 20px 띄우기 */
  }
  
  .image {
    width: 158px;
    height: 100px;
    margin: 37px 16px 0 36.8px;
    object-fit: contain;
  }
  
  .group2 {
    margin-top: 39px;
  }
  
  input:focus {
    outline: none; /* 포커스 효과 제거 (선택적으로 사용) */
  }
  