body {
  font-family: Pretendard;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 390px;
  height: 844px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.left-margin-image {
  position: absolute;
  top: 50%;
  right: 528px;
  transform: translateY(-50%);
  padding-left: 200px; /* 왼쪽 여백 추가 */
}

.top {
  background-color: #1964f7;
  color: #ffffff;
  width: 390px;
  height: 125px;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

.top-container {
  position: relative;
}

.image {
  width: 99px;
  height: 150px;
  position: absolute;
  left: 28px;
  /* 원하는 위치로 조정합니다. */
}

.weather {
  position: absolute;
  top: 102px;
  left: 300px;
  /* 원하는 위치로 조정합니다. */
}

.mid {
  font-family: "Pretendard", sans-serif; /* 예시 폰트 스타일 */
}

.bot {
  height: 80px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  /* position을 absolute로 변경 */
  bottom: 0;
  /* 하단에 정렬되도록 수정 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.where {
  position: absolute;
  width: 45px;
  height: 47px;
  margin-left: -329px;
  margin-top: 23px;
}

.home {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-left: -235px;
  margin-top: -10px;
}

.mypage {
  position: absolute;
  width: 56px;
  height: 47px;
  margin-top: 23px;
  margin-left: -107px;
}

.down {
  margin-top: 13px;
  border-radius: 0 0 10px 10px;
}

/* 스타일링을 위한 예시 */

.weather {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  left: 258px;
}

.on {
  margin-top: 7px;
}

.info {
  position: absolute;
  z-index: 10;
  top: 137px;
  transform: translateX(-50%);
}

.now {
  background-color: #ffffff;
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 700px;
  width: 60px;
  height: 26px;
  position: absolute;
  margin-top: 60.4px;
  left: 296px;
  z-index: 100;
}

.download {
  position: absolute;
  right: 528px;
  transform: translateY(-50%);
  left: 513px;
  top: 290px;
}

.right-margin-image {
  position: absolute;
  top: 50%;
  right: 528px;
  transform: translateY(-50%);
  margin-top: 10px;
  left: 555px;
}
